.item {
    color: black;
}
.done {
    text-decoration: line-through;
}
.btn {
    cursor: pointer;
    color: darkgrey;
} 
.wrap {
    display: flex;
    align-items:center;
    justify-content: space-between; 
    margin-bottom: 2%;
}